body {
    /*text-align: center;*/
    background-size: cover;
    color: white;
    font-family: 'Amatic SC', cursive;
    background-color: rgb(95,207,128);
    
  }
  #quote-box {
    position: absolute;
    top: 14%;
    left: 10%;
    right: 10%;
    width: 80%;
    line-height: .5;
  }
  #loadQuote:hover {
    background-color: rgba(255,255,255,.25);
    box-shadow: 13px 13px 13px white;
  }

  #tbox{
      position: relative;
      top: 10px;
      font-size: 3rem;
      color: black;
  }
  #abox{
       position: fixed;
       top: 370px;
       font-size: 2rem;
       float: right;
  }
  #qbox button{
      position: fixed;
      bottom: 5px;
      color: black;
      width: 100%;
      height: 60px;
      font-size: 1.5rem;
      
  }
  